html{
	display: block;
}

body {
	display: block;
	margin-top: 40px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

